extends ./layouts/common

block content                  
    h1 Hello 
    a.btn.btn-primary(href="/users") User List 
    span &nbsp;
    span &nbsp;
    span &nbsp;
    span &nbsp;
    a.btn.btn-primary(href="/users/create") Create user
    span &nbsp;
    span &nbsp;
    span &nbsp;
    span &nbsp;
    a.btn.btn-primary(href="/products") Products
    span &nbsp;
    span &nbsp;
    span &nbsp;
    span &nbsp;
    a.btn.btn-primary(href="/cart") Cart
